<div id="login" class="" tabindex="0">
<%= form_for(:user, as: :user, url: session_path(:user), html: {class: "form-signin form-user", id: "sign_in_form"}) do |f| %>
    <%= devise_error_messages! %>

  <div class="page-header">
    <h1 class="form-signin-heading">Please sign in</h1>
  </div>
  <div class="form-group">
    <%= f.label :login, "Username or Email", class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.text_field :login, class: "text-field input-block-level form-control", html: {spellcheck: "false"} %>
    </div>
  </div>


  <div class="form-group">
    <%= f.label :password, class: "control-label col-md-4" %>
    <div class="col-md-8">
      <%= f.password_field :password, class: "text-field input-block-level form-control", html: {autocomplete: "off"} %>
    </div>
  </div>

    <div class="form-group">
        <%= f.check_box :remember_me %>
        &nbsp;
        <%= f.label :remember_me, "Remember Me", class: "control-label col-md-4" %>
    </div>

    <br/>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= f.submit "Login", class: "btn btn-primary btn-large" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      <%= link_to "Forgot your password?", new_password_path(:user) %><br />
      <%= link_to "Sign in with Facebook", "/accounts/auth/facebook" %><br />
    </div>
  </div>

<% end %>
</div>

