!!!
%html
  %head
    %title MindFlowy
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if user_signed_in?
      %meta{:content => current_user.authentication_token, :name => "auth_token"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    / Prelang: Analytics / Google Analytics
    = analytics_init if Rails.env.production?
  %body
    = render partial: "elements/navbar"
    = bootstrap_flash
    = yield
