
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MindFlowy - Your Digital Brain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <meta name="auth_token" content="<%= current_or_guest_user.authentication_token %>" />
  <% end %>

    <%= analytics_init if Rails.env.production? %>
    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">MindFlowy</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#kbd" data-toggle="modal">Keyboard Shortcuts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right pull-right">
              <li class="dropdown">
                <% if user_signed_in? %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Welcome, <%= current_or_guest_user.email %>
                    <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><%= link_to "Edit Account", edit_user_registration_path %></li>
                      <li class="divider"></li>
                      <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#login" data-toggle="modal">Sign in...</a></li>
                    <li><%= link_to "Sign in with Facebook", "/accounts/auth/facebook" %></li>
                    <li><a href="#signup" data-toggle="modal">Sign up...</a></li>
                  </ul>
                <% end %>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div id="kbd" class="modal hide fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="form-signin">
          <h3>
          <i class="fa fa-keyboard-o fa-lg"></i>
          </h3>
          <table class="table table-striped">
          <tbody><tr>
          <td>
          <kbd>Click</kbd>
          </td>
          <td>
          an item and start typing
          </td>
          </tr>
          <tr>
          <td>
          <kbd>Enter</kbd>
          </td>
          <td>
          add a new item
          </td>
          </tr>
          <tr>
          <td>
          <kbd>Tab</kbd>
          </td>
          <td>
          indent
          </td>
          </tr>
          <tr>
          <td>
          <kbd>Shift+Tab</kbd>
          </td>
          <td>
          un-indent
          </td>
          </tr>
          <tr>
          <td>
          <kbd>Up Arrow</kbd>
          </td>
          <td>
          select item above
          </td>
          </tr>
          <tr>
          <td>
          <kbd>Down Arrow</kbd>
          </td>
          <td>
          select item bellow
          </td>
          </tr>
          </tbody></table>
        </div>
      </div>
      <% unless user_signed_in? %>
        <div id="login" class="modal hide fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <%= form_for(:user, as: :user, url: session_path(:user), html: {class: "form-signin form-user", id: "sign_in_form"}) do |f| %>

          <div class="page-header">
            <h1 class="form-signin-heading">Please sign in</h1>
          </div>
          <div class="form-group">
            <%= f.label :login, "Username or Email", class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.text_field :login, class: "text-field input-block-level form-control", html: {spellcheck: "false"} %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :password, class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.password_field :password, class: "text-field input-block-level form-control", html: {autocomplete: "off"} %>
            </div>
          </div>

            <div class="form-group">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me, " Remember Me", class: "control-label col-md-4" %>
            </div>

            <br/>
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <%= f.submit "Login", class: "btn btn-primary btn-large" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <%= link_to "Forgot your password?", new_password_path(:user) %><br />
              <%= link_to "Sign in with Facebook", "/accounts/auth/facebook" %><br />
            </div>
          </div>

        <% end %>
        </div>


        <div id="signup" class="modal hide fade" tabindex="0" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <%= form_for(:user, as: :user, url: registration_path(:user), html: {class: "form-signin form-user"}) do |f| %>

          <div class="page-header">
            <h1 class="form-signin-heading">Please sign up</h1>
          </div>

          <div class="form-group">
            <%= f.label :username, class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.text_field :username, class: "text-field input-block-level form-control", html: {spellcheck: "false"} %>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :email, class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.email_field :email, class: "text-field input-block-level form-control", html: {spellcheck: "false"} %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.password_field :password, class: "text-field input-block-level form-control", html: {autocomplete: "off"} %>
            </div>
          </div>
             
          <div class="form-group">
            <%= f.label :password_confirmation, "Password Confirmation", class: "control-label col-md-4" %>
            <div class="col-md-8">
              <%= f.password_field :password_confirmation, class: "text-field input-block-level form-control", html: {autocomplete: "off"} %>
            </div>
          </div>
             
          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <%= f.submit "Sign Up", class: "btn btn-primary btn-large" %>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
              <%= link_to "Sign in with Facebook", "/accounts/auth/facebook" %><br />
            </div>
          </div>

        <% end %>
        </div>
      <% end %>
      <%= bootstrap_flash %>
      <%= yield %>
      <footer class="navbar-fixed-bottom">
        <div class="container">
          <p>Brought to you by: <a href="http://www.cuberoot.in">Cube Root Software</a> &copy; 2014</p>
        </div>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3 id="myModalLabel">ERROR!</h3>
</div>
<div class="modal-body">
<p>One fine body…</p>
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>

